@*  *   Copyright 2021-present Etherna Sagl
    *
    *   Licensed under the Apache License, Version 2.0 (the "License");
    *   you may not use this file except in compliance with the License.
    *   You may obtain a copy of the License at
    *
    *       http://www.apache.org/licenses/LICENSE-2.0
    *
    *   Unless required by applicable law or agreed to in writing, software
    *   distributed under the License is distributed on an "AS IS" BASIS,
    *   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    *   See the License for the specific language governing permissions and
    *   limitations under the License.
*@

@model AlphaPassLetterModel

@{
    ViewData["EmailTitle"] = AlphaPassLetterModel.Title;
}

<span style="text-align: left">
    <h1>Etherna is here</h1>

    <p>After months of hard work, designing,<br />
        planning and developing great features<br />
        the time has come to release Alpha Passes.</p>

    <p>We want to tell you that we are enormously grateful to you.</p>

    <p>Etherna is a community-based platform,<br/>
        and you are among first people who believed in this project.</p>

    <p>Thank you!</p>

    <h2>Things to know about Alpha 1 phase: Snowden</h2>

    <p>This phase of the project is the first alpha version,<br />
        we choose the codename of Snowden for this release.</p>

    <p>You can find our roadmap <a href="https://info.etherna.io/#roadmap">here</a>.</p>

    <p>At this stage the platform have only the base features,<br />
        it needs optimizations and community feedbacks.</p>

    <p>Anyway, this is the first public version,<br />
        and every fundamental part is here.</p>

    <p>From now on, we need to grow and evolve with our community: you!</p>

    <p>At this stage you may find bugs, downtimes,<br />
        or you could have data loss.</p>

    <p>We apologize if this will happen,<br />
        anyway it is a physiological stage of every new application.</p>

    <p>With Alpha 1 you can add credit to your account without paying,<br />
        and you can start to use the platform with it.<br />
        <b>Free credit is valid only during Alpha 1.</b>
    </p>

    <p>Withdrawals are still disabled,<br />
        and creator's rewarding will come soon,<br />
        among other features.</p>

    <h2>How to register with your new Alpha Pass</h2>

    <p>You can register to Etherna by clicking here:</p>
    <p><a href='@Model.InvitationUrl'>Register now</a></p>

    <p>or copy/pasting this url:</p>
    <p>@Model.InvitationUrl</p>

    <p>In addition to this,<br />
        you can learn more in depth what Etherna really is.</p>
    
    <p>We also published our white paper,<br />
        available on our website at this link:</p>

    <p><a href="https://info.etherna.io/">Etherna Whitepaper site</a></p>

    <h2>If you need help: join the community headquarter</h2>

    <p>
        Finally, you can join our Discord server.<br />
        To report any issue,<br />
        to get direct support,<br />
        to give us appreciated feedbacks:
    </p>

    <p><a href="https://discord.gg/vfHYEXf">Etherna Discord invite link</a></p>

    <p>We have created a support section,<br />
        as a special platform moderation area,<br />
        where you can keep in touch with our internal team.<p/>

    <p>We believe in people more than alghoritms.</p>

    <h2>Let's start!</h2>

    <p>We are very excited about this fresh beggining.</p>

    <p>The whole Etherna team and me wish you a good stay.</p>

    <p><i>Mirko Da Corte<br />
        CEO of Etherna</i></p>

    <p><b>Eyes Wide Open.</b></p>
</span>