@model AlphaPassRequestEmailConfirmationModel

@{
    ViewData["EmailTitle"] = AlphaPassRequestEmailConfirmationModel.Title;
}

<span style="text-align: left">
    <h1>Confirm your Alpha Pass request</h1>

    <p>Confirm your Etherna Alpha Pass request clicking here:</p>
    <p><a href='@Model.CallbackUrl'>Confirm Alpha Pass request</a></p>

    <p>or copy/pasting this url:</p>
    <p>@Model.CallbackUrl</p>

    <p>If you received this email by mistake, simply delete it.<br />
        You won't be subscribed if you don't click the confirmation link above.</p>
</span>