@model ResetPasswordWeb3Model

@{
    ViewData["EmailTitle"] = ResetPasswordWeb3Model.Title;
}

<h1>@ResetPasswordWeb3Model.Title</h1>

<p>This email is associated with a Web3 account on the following address:<br/>
    @Model.Address</p>

<p>It doesn't use a password, so a password reset is not possible.</p>