@model TotpConfirmEmailModel

@{
    ViewData["EmailTitle"] = TotpConfirmEmailModel.Title;
}

<h1>@TotpConfirmEmailModel.Title</h1>

<p>Please confirm your email by entering this code:</p>
<p class="kbd">
    <span>@Model.Code</span>
</p>

<p style="margin-top: 24px;">You have 5 minutes for use it, or you have to ask for another.</p>