@page
@using Etherna.SSOServer
@model Etherna.SSOServer.Areas.Admin.Pages.IndexModel
@{
    ViewData["Title"] = "Admin panel";
}

<h4>@ViewData["Title"]</h4>
<div class="row">
    <div class="col-md-6">

        <ul>
            <li><a class="btn btn-link" href="@Startup.DatabaseAdminPath">Database</a></li>
            <li><a class="btn btn-link" href="@Startup.HangfireAdminPath">Hangfire</a></li>
            <li><a class="btn btn-link">IdentityServer</a></li>
            <li><a class="btn btn-link" asp-area="Admin" asp-page="/Invitations/Index">Invitations</a></li>
        </ul>

    </div>
</div>