@import "../../node_modules/jquery-ui/themes/base/datepicker.css";

.ui-datepicker {
  background-color: #fff;
  border: 1px solid rgb(223, 223, 223);
  border-radius: 2px;
  box-shadow: 0 4px 25px -5px rgba(102, 102, 102, 0.25);
  margin-top: 2px;
}
