# Remove the line below if you want to inherit .editorconfig settings from higher directories
root = true

# C# files
[*.cs]

#### Suppress warnings ####

# CA1034: Nested types should not be visible
dotnet_diagnostic.CA1034.severity = none    # Asp.Net Core Pages uses nested models

# CA1054: Uri parameters should not be strings
dotnet_diagnostic.CA1054.severity = none    # Asp.Net Core Pages uses strings natively

# CA1056: Uri properties should not be strings
dotnet_diagnostic.CA1056.severity = none    # Asp.Net Core Pages uses strings natively

# CA1303: Do not pass literals as localized parameters
dotnet_diagnostic.CA1303.severity = none    # Don't need translated exceptions

# CA1812: Avoid uninstantiated internal classes
dotnet_diagnostic.CA1812.severity = none    # Doing extensive use of Dependency Injection

# CA1822: Mark members as static
dotnet_diagnostic.CA1822.severity = none    # Don't like static members

# CA2007: Consider calling ConfigureAwait on the awaited task
dotnet_diagnostic.CA2007.severity = none    # .Net Core doesn't have a SynchronizationContext

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = none
