@page
@model Etherna.SSOServer.Areas.Identity.Pages.Account.Manage.Web3LoginModel
@{
    ViewData["Title"] = "Manage Web3 Login";
    ViewData["ActivePage"] = ManageNavPages.Web3Login;

    var retriveAuthMessageUrl = Url.Page("Web3Login", "RetriveAuthMessage");
    var confirmSignatureUrl = Url.Page("Web3Login", "ConfirmSignature");
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="web3-login-form">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Web3Login"></label>
                <input asp-for="Web3Login" class="form-control" disabled />
            </div>

            <div id="manage-web3-login" style="display:none">
                <div id="manage-web3-login-alert" class="alert alert-danger" style="display:none"></div>
                <p>
                    <button id="change-web3-login" class="btn btn-link" title="Change Web3 login address">Change Web3 login address</button>
                    @if (Model.ShowRemoveButton)
                    {
                        <button id="remove-web3-login" class="btn btn-link" method="delete" type="submit" title="Remove Web3 login">Remove web3 login</button>
                    }
                </p>
            </div>

            <div id="install-metamask" style="display:none">
                <a href="https://metamask.io/"><img src="/images/metamask-logo.svg" /></a>
                <p>Do you need a new web3 wallet? Try to install <a href="https://metamask.io/">Metamask</a></p>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    window.addEventListener('load', function () {
        var web3 = window.web3;

        /* Web3 login toggle */
        if (typeof web3 !== "undefined") {
            $('#manage-web3-login').show();
        } else {
            $('#install-metamask').show();
        }

        /* Handle msg signing */
        $('#change-web3-login').on('click', function () {
            hideError();

            if (typeof window.ethereum !== 'undefined') {
                window.ethereum.enable().then(getSignMsg).catch(showError);
            } else {
                web3.eth.getAccounts().then(getSignMsg).catch(showError);
            }
        });

        function getSignMsg(accounts) {
            if (accounts.length) {
                var address = (web3.utils || web3).toChecksumAddress(accounts[0]);
                var msgUrl = '@Html.Raw(retriveAuthMessageUrl)' + '&etherAddress=' + address;
                $.ajax({
                    url: msgUrl,
                    success: function (msg) {
                        signAndRedirect(msg, address)
                    },
                    beforeSend: function () {
                        $('#change-web3-login').prop('disabled', true);
                    },
                    complete: function () {
                        $('#change-web3-login').prop('disabled', false);
                    },
                    error: showError
                });
            } else {
                showError();
            }
        }

        function signAndRedirect(msg, address) {
            function signCallback(newSig, oldSig) {
                const sig = oldSig || newSig;
                if (typeof sig === "string") {
                    var redirect = '@Html.Raw(confirmSignatureUrl)' + '&etherAddress=' + address + '&signature=' + sig;
                    window.location.href = redirect;
                } else {
                    showError();
                }
            }
            if (web3.eth.personal) {
                // new web3
                web3.eth.personal.sign(msg, address).then(signCallback).catch(showError);
            } else {
                // old web3
                web3.personal.sign(msg, address, signCallback);
            }
        }

        function showError(error) {
            var msg = error && error.message || 'Cannot get the account address. Make sure your wallet is up to date.';
            $('#manage-web3-login-alert').show();
            $('#manage-web3-login-alert').text(msg);
        }

        function hideError() {
            $('#manage-web3-login-alert').hide();
        }
    });
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}