@*  *   Copyright 2021-present Etherna Sagl
    *
    *   Licensed under the Apache License, Version 2.0 (the "License");
    *   you may not use this file except in compliance with the License.
    *   You may obtain a copy of the License at
    *
    *       http://www.apache.org/licenses/LICENSE-2.0
    *
    *   Unless required by applicable law or agreed to in writing, software
    *   distributed under the License is distributed on an "AS IS" BASIS,
    *   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    *   See the License for the specific language governing permissions and
    *   limitations under the License.
*@

@page
@model Etherna.SSOServer.Areas.Identity.Pages.Account.Manage.Web3UpgradeModel
@{
    ViewData["Title"] = "Upgrade to Web3 account";
    ViewData["ActivePage"] = ManageNavPages.Web3Login;

    var retriveAuthMessageUrl = Url.Page("Web3Upgrade", "RetriveAuthMessage");
    var confirmSignatureUrl = Url.Page("Web3Upgrade", "UpgradeWeb3");
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />

<div class="alert alert-warning" role="alert">
        <p>
            <strong>Upgrading to Web3 you will start to use a new generation of accounts.</strong> With this new kind of account
            you will be the only owner of your keys, and this mean that you will be the only responsible for keep them safe.
        </p>
        <p>
            <strong>If you lose your keys, we will not be able to recover your account.</strong>
        </p>
        <p>
            Upgrading your account to Web3 <strong>you will lose ability to login with any other method than your Ethereum address</strong>,
            but you will gain a big step into your personal web independency.
        </p>
        <p>
            <strong>Attention, the operation is not reversible.</strong>
        </p>
</div>

<div>
    <form id="web3-upgrade" method="post" class="mb-3">
        <div id="manage-web3-login" style="display:none">
            <div id="manage-web3-login-alert" class="alert alert-danger" style="display:none"></div>
            <p>
                <button id="confirm-web3-login" class="btn btn-secondary" type="button" disabled>
                    Yes, I know what I'm doing. Upgrade to Web3 account!
                </button>

                It will arrive soon!
            </p>
        </div>

        <div id="install-web3-wallet" style="display:none">
            <a href="https://brave.com/"><img src="/images/brave-logo.svg" height="40" /></a>
            <p>Do you need a new web3 browser? Try to install <a href="https://brave.com/">Brave</a></p>
        </div>
    </form>
</div>

<script type="text/javascript">
    window.retriveAuthMessageUrl = '@Html.Raw(retriveAuthMessageUrl)';
    window.confirmSignatureUrl = '@Html.Raw(confirmSignatureUrl)';
</script>
<script src="~/dist/js/etherna-web3-signin.js" asp-append-version="true"></script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}