@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Etherna SSO Server</p>

    <div class="d-flex justify-content-center mt-5">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Etherna Dapp</h3>
                <p>Visit our Dapp at <a href="https://etherna.io" >https://etherna.io →</a></p>
            </div>
        </div>
    </div>
</div>
