@page
@model Etherna.SSOServer.Areas.Admin.Pages.IdentityServer.IndexModel
@{
    ViewData["Title"] = "IdentityServer Admin";
}

<div class="welcome-block px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<!-- Cards -->
<div class="card-deck mb-3 text-center">

    <!-- Users -->
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Users</h4>
        </div>
        <div class="card-body">
            <a asp-page="Users" class="btn btn-lg btn-block btn-primary">Manage</a>
        </div>
    </div>

    <!-- Roles -->
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Roles</h4>
        </div>
        <div class="card-body">
            <a asp-page="Roles" class="btn btn-lg btn-block btn-primary">Manage</a>
        </div>
    </div>

    <!-- Clients -->
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Clients</h4>
        </div>
        <div class="card-body">
            <a class="btn btn-lg btn-block disabled">Not implemented</a>
        </div>
    </div>
</div>


<div class="card-deck mb-3 text-center">
    <!-- Persisted Grants -->
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Persisted Grants</h4>
        </div>
        <div class="card-body">
            <a class="btn btn-lg btn-block disabled">Not implemented</a>
        </div>
    </div>

    <!-- Identity Resources -->
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Identity Resources</h4>
        </div>
        <div class="card-body">
            <a class="btn btn-lg btn-block disabled">Not implemented</a>
        </div>
    </div>

    <!-- Api Resources -->
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Api Resources</h4>
        </div>
        <div class="card-body">
            <a class="btn btn-lg btn-block disabled">Not implemented</a>
        </div>
    </div>

    <!-- Api Scopes -->
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Api Scopes</h4>
        </div>
        <div class="card-body">
            <a class="btn btn-lg btn-block disabled">Not implemented</a>
        </div>
    </div>
</div>

