@*  *   Copyright 2021-present Etherna Sagl
    *
    *   Licensed under the Apache License, Version 2.0 (the "License");
    *   you may not use this file except in compliance with the License.
    *   You may obtain a copy of the License at
    *
    *       http://www.apache.org/licenses/LICENSE-2.0
    *
    *   Unless required by applicable law or agreed to in writing, software
    *   distributed under the License is distributed on an "AS IS" BASIS,
    *   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    *   See the License for the specific language governing permissions and
    *   limitations under the License.
*@

@model Etherna.SSOServer.Areas.Identity.Pages.Account.Web3LoginPartialModel
@{
    var retriveAuthMessageUrl = Url.Page("Web3Login", "RetriveAuthMessage");
    var confirmSignatureUrl = Url.Page("Web3Login", "ConfirmSignature", new
    {
        invitationCode = Model.InvitationCode,
        returnUrl = Model.ReturnUrl
    });
}

<div id="web3-login" style="display:none">
    <div>
        <div id="web3-login-alert" class="alert alert-danger" style="display:none"></div>
        <p>
            <button id="web3-login-btn" class="btn btn-primary" title="Log in using your Web3 Wallet">Login with Web3 Wallet</button>
        </p>
    </div>
</div>

<div id="install-web3-wallet" style="display:none">
    <a href="https://brave.com/"><img src="/images/brave-logo.svg" height="40" /></a>
    <p>Do you need a new web3 browser? Try to install <a href="https://brave.com/">Brave</a></p>
</div>

<script type="text/javascript">
    window.retriveAuthMessageUrl = '@Html.Raw(retriveAuthMessageUrl)';
    window.confirmSignatureUrl = '@Html.Raw(confirmSignatureUrl)';
</script>
<script src="~/dist/js/etherna-web3-signin.js" asp-append-version="true"></script>