@model Etherna.SSOServer.Areas.Identity.Pages.Account.Web3LoginPartialModel
@{
    var retrieveAuthMessageUrl = Url.Page("Web3Login", "RetrieveAuthMessage");
    var confirmSignatureUrl = Url.Page("Web3Login", "ConfirmSignature", new
    {
        invitationCode = Model.InvitationCode,
        returnUrl = Model.ReturnUrl
    });
}

<div id="web3-login" style="display:none">
    <div>
        <div id="web3-login-alert" class="alert alert-danger" style="display:none"></div>
        <p>
            <button id="web3-login-btn" class="btn btn-primary" title="Log in using your Web3 Wallet">Login with Web3 Wallet</button>
        </p>
    </div>
</div>

<div id="install-web3-wallet" style="display:none">
    <a href="https://brave.com/"><img src="/images/brave-logo.svg" height="40" /></a>
    <p>Do you need a new web3 browser? Try to install <a href="https://brave.com/">Brave</a></p>
</div>

<script type="text/javascript">
    window.retrieveAuthMessageUrl = '@Html.Raw(retrieveAuthMessageUrl)';
    window.confirmSignatureUrl = '@Html.Raw(confirmSignatureUrl)';
</script>
<script src="~/dist/js/etherna-web3-signin.js" asp-append-version="true"></script>