@*   Copyright 2021-present Etherna Sagl
 *
 *   Licensed under the Apache License, Version 2.0 (the "License");
 *   you may not use this file except in compliance with the License.
 *   You may obtain a copy of the License at
 *
 *       http://www.apache.org/licenses/LICENSE-2.0
 *
 *   Unless required by applicable law or agreed to in writing, software
 *   distributed under the License is distributed on an "AS IS" BASIS,
 *   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *   See the License for the specific language governing permissions and
 *   limitations under the License.
 *@

@page
@model LoggedOutModel
@{
    ViewData["Title"] = "Logged out";
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>You have successfully logged out from Etherna.</p>

    @if (Model.PostLogoutRedirectUri != null)
    {
        <div>
            Click <a class="PostLogoutRedirectUri" href="@Model.PostLogoutRedirectUri">here</a> to return to <span>@Model.ClientName</span>.
        </div>
    }

    @if (Model.SignOutIFrameUrl != null)
    {
        <iframe width="0" height="0" frameborder="0" class="signout" src="@Model.SignOutIFrameUrl"></iframe>
    }
</header>