@model ResetPasswordModel

@{
    ViewData["EmailTitle"] = ResetPasswordModel.Title;
}

<h1>@ResetPasswordModel.Title</h1>

<p>Please reset your password by clicking here:</p>
<a class="button" href='@Model.Url'>Reset password</a>

<p style="margin-top: 2rem">or by clicking this link: <a href='@Model.Url'>@Model.Url</a>.</p>