@model TotpConfirmEmailModel

@{
    ViewData["EmailTitle"] = TotpConfirmEmailModel.Title;
}

<h1>@TotpConfirmEmailModel.Title</h1>

<p>Please confirm your email by entering this code:</p>
<span class="kbd">@Model.Code</span>

<p style="margin-top: 1.5rem;">You have 5 minutes for use it, or you have to ask for another.</p>