@page
@model Etherna.SSOServer.Areas.AlphaPass.Pages.ConfirmRequestModel
@{
    ViewData["Title"] = "Confirm Alpha Pass request";
}

<h2>@ViewData["Title"]</h2>
<partial name="_StatusMessage" model="Model.StatusMessage" />
