@* * Copyright 2021-present Etherna Sagl
    *
    * Licensed under the Apache License, Version 2.0 (the "License");
    * you may not use this file except in compliance with the License.
    * You may obtain a copy of the License at
    *
    * http://www.apache.org/licenses/LICENSE-2.0
    *
    * Unless required by applicable law or agreed to in writing, software
    * distributed under the License is distributed on an "AS IS" BASIS,
    * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    * See the License for the specific language governing permissions and
    * limitations under the License.
*@

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Source+Code+Pro:wght@600&display=swap"
        rel="stylesheet">
    <style>
        body {
            position: relative;
            width: 100%;
            font-size: 16px;
            font-family: Inter, Helvetica, sans-serif;
            margin: 0;
            background-color: #fafafa;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        a {
            color: rgb(0, 81, 255);
        }

        .header {
            width: 100%;
            background-color: #37C4A5;
        }

        .headerContent {
            display: table;
            margin-left: auto;
            margin-right: auto;
            padding-top: 24px;
            padding-bottom: 32px;
        }

        .headerContent img {
            margin: 0 auto;
            height: 20px;
        }

        .main {
            border-collapse: separate;
            border-spacing: 0px;
            border-radius: 4px;
            width: 100%;
            max-width: 768px;
            margin-top: -48px;
            margin-bottom: 72px;
            margin-left: auto;
            margin-right: auto;
        }

        .mainContent {
            margin-left: 24px;
            margin-right: 24px;
            margin-left: 24px;
            margin-right: 24px;
        }

        .mainContent td {
            color: #6B7280;
            background-color: #fff;
            border-radius: 4px;
            padding: 24px;
            box-shadow: 0 11px 24px 0 rgba(218, 218, 218, 0.50);
            border: 1px solid rgba(218, 218, 218, 0.25);
            z-index: 1;
            position: relative;
        }

        h1 {
            font-size: 26px;
            font-weight: bold;
            margin-bottom: 12px;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: #374151;
        }

        p {
            margin-bottom: 16px;
        }

        button,
        .button {
            display: inline-block;
            text-align: center;
            border-radius: 5px;
            background-color: #37C4A5;
            color: #fff;
            font-weight: 600;
            padding: 10px 28px;
            margin: 16px 0;
            min-width: 120px;
            text-decoration: none;
        }

        .kbd {
            font-family: 'Source Code Pro', monospace;
            display: inline-block;
            text-align: center;
            border-radius: 6px;
            background-color: #333;
            color: #fff;
            font-size: 20px;
            font-weight: 600;
            padding: 16px 32px;
            margin: 16px 0;
            min-width: 160px;
        }

        .footer {
            font-size: 12px;
            color: #6B7280;
            text-align: center;
        }

        .footer img {
            height: 16px;
            margin-left: auto;
            margin-right: auto;
        }

        .footer p {
            margin-left: auto;
            margin-right: auto;
        }

        .footer .ethernaLink {
            display: block;
            margin-top: 32px;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>

<body>
    <div class="header" style="height: 128px;">
        <div class="headerContent">
            <img src="@(Context.Request.Scheme + "://" + Context.Request.Host)/images/etherna-mail-white.png"
                alt="Etherna">
        </div>
    </div>

    <table class="main" style="margin-top: -56px;">
        <tbody class="mainContent">
            <tr>
                <td>@RenderBody()</td>
            </tr>
        </tbody>
    </table>

    <div class="footer">
        <img src="@(Context.Request.Scheme + "://" + Context.Request.Host)/images/etherna-mail-gray.png" alt="Etherna">
        <p>You received this email from the Etherna server.</p>
        <a href="https://etherna.io" class="ethernaLink">etherna.io</a>
    </div>
</body>

</html>